

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles';

    body {
      margin: none;
      padding: none;
    }

    #main-logo {
      height: 80px;
      width: auto;
      display: flex;
      justify-content: left;
      margin-right: -30px;
    }

    .header-text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .paragraph-text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
    }
    .generic-div {
      height: 20em;
      width: 32em;
      box-shadow: -8px 20px 30px 10px rgb(181, 181, 181);
      border-radius: 10px;
      margin: 3em;
      padding: 3em;
    }
    .task-div {
      background-color: rgb(34, 34, 34);
      margin-top: 3em;
      height: 30em;
      width: 20em;
      box-shadow: -8px 20px 30px 10px rgb(181, 181, 181);
      border-radius: 10px;
    }
    .reminder-div {
      margin-top: 3em;
      height: 30em;
      width: 20em;
      box-shadow: -8px 20px 30px 10px rgb(181, 181, 181);
      border-radius: 10px;
      margin-bottom: 2em;
    }
    .big-btn {
      border: 2px solid black;
      border-radius: 10px;
      color: black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
    }
    .small-btn {
      border: 2px solid black;
      border-radius: 10px;
      width: 20em;
      color: black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
    }
    .modal-btn {
      border: 2px solid black;
      border-radius: 10px;
      color: black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
    }
    .nav-link {
      font-family: Arial, Helvetica, sans-serif;
      color: black;
    }
    .generic-form{
      margin-top: 3em;
      margin-bottom: 3em;
      padding: 3em;
      height: 24em;
      width: 32em;
      box-shadow: -8px 20px 30px 10px rgb(181, 181, 181);
      border-radius: 10px;
    }
    .modal-dialog {
      box-shadow: -8px 20px 30px 10px rgb(181, 181, 181);
      border-radius: 10px;
    }
    .task-list{
      padding: 2em;
      width: 14em;
      margin: 1em;
      border: solid rgb(182, 182, 182) 1px;
      border-radius: 10px;
    }
    .card-img-top {
      height: 70px;
      width: auto;
      margin-bottom: 10px;
    }
    .card-text {
      text-align: center;
    }
    .h1-text {
      font-family: Arial, Helvetica, sans-serif;
      color: #E68568;
      font-size: 4em;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
      -webkit-text-stroke-width: 5px;
      -webkit-text-stroke-color:#E68568;
    }
    .header-img {
      height: 30em;
      width: auto;
      justify-content: end;
      margin: none;
      padding: none;
    }
    .para-text {
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      font-weight: lighter;
      text-transform: uppercase;
    }

    .header-para-text {
      margin-right: 20px;
    }

    .footer-img {
      height: 26em;
      width: auto;
      padding: 2em;
      margin: none;
      margin-top: -30px;
    }
    .footer-arrow-img{
      height: 50px;
      width: auto;
      margin-top: -30px;
    }
    .h4-text {
      font-family: Arial, Helvetica, sans-serif;
      color: #414141;
      font-size: 2em;
      font-weight: 500;
      text-transform: uppercase;
    }
    .h3-text {
      font-family: Arial, Helvetica, sans-serif;
      color: #000000;
      font-size: 3em;
      font-weight: 400;
      text-transform: uppercase;
    }
    #main-navbar {
      margin-bottom: 20px;
    }

  

    .home-header-container {
      display: flex;
      justify-content: center;
      margin: 1em;
      margin-top: -30px;
      align-items: center;
    }
    .header-text-container {
      margin-top: -30px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      float: left;
      height: 10em;
      width: 40em;
    }
    .home-page-card-container {
      display: flex;
      justify-content: center;
      padding: 3em;
    }
    .home-pg-footer-image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 100px;
      margin-right: 100px;
      padding: 5em;
      height: 44em;
      width: auto;
    }
    .bringing-balance-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #2D2D2D;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:#2d2d2d;
    }
    .free-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #2D2D2D;
    font-size: 1.5em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center; 
    margin-bottom: 2em;
    }
    .home-pg-middle-text-container {
      height: auto;
      width: 80em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-left: 80px;
    }
    .home-header-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: none;
    }

    .home-sign-up-text {
      color: #E68568;
    }


    .footer {
      background-color: #EEEEEE;
      height: 7em;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer-text {
      text-align: center;
      font-weight: 200;
    }

  .navbar {
    background-color: #E68568;
    margin-top: 20px;
}

// dashboard styling

.dashboard-container {
  margin: 2em;
  padding: none;
}

// create event styling

.create-event-container {
  background-color: #ffffff;
  box-shadow: -8px 20px 30px 10px rgb(167, 167, 167);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: white;
  margin-bottom: 2em;
}

.create-event-h1-text {
  color: #414141;
  text-align: center;
  font-size: 2em;
}

.add-event-btn {
  background-color: #E68568;
  margin: 30px;
  border: solid #E68568 5px;
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

// message board styling

.message-board {
  background-color: #ffffff;
  box-shadow: -8px 20px 30px 10px rgb(210, 210, 210);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 1em;
  margin: none;
  color: white;
}

.message-card-body {
  background-color: #ffffff;
  border-radius: none;
}

.message-card-title {
  color: #414141;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.message-content-wrap {
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-input {
  border: none;
  border-radius: 5px;
  margin-top: -50px;
  background-color: #b1b1b180;
}

.message-card {
  background-color:#ffffff;
  padding: 30px;
}

.send-message-btn {
  background-color: #E68568;
  margin: 30px;
  border: solid #E68568 5px;
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  margin-left: 90px;
  margin-top: -20px;
}

.all-messages {
  background-color: white;
  border-radius: 100px;
}

// task list styling

.task-card {
  background-color: rgb(255, 255, 255);
  color: #414141;
  box-shadow: -8px 20px 30px 10px rgb(181, 181, 181);
  border-radius: 10px;
  margin-bottom: 3em;
}

.list-group-item {
  background-color: rgb(255, 255, 255);
  color: #414141;
}


// reminders styling 

.reminders-card {
  background-color: rgb(255, 255, 255);
  box-shadow: -8px 20px 30px 10px rgb(181, 181, 181);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reminderInput {
  border: solid #E68568 3px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.61);
  padding: 10px;
  margin-bottom: 10px;
}

.reminder-list-group {
  background-color: rgb(255, 255, 255);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reminder-list-group-item {
  margin: 10px;
}

.add-reminder-btn {
  background-color: #E68568;
  border: solid #E68568 5px;
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
}

.edit-reminder-btn {
  justify-content: center;
  border: solid rgb(26, 26, 26) 1px;
}

.editReminderContainer {
  height: 20em;
  width: 30em;
  box-shadow: -8px 20px 30px 10px rgb(181, 181, 181);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em;
  margin-left: 420px;
}

.second-edit-reminder-btn {
  background-color: #E68568;
  margin: 20px;
  border: solid #E68568 5px;
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.main-delete-reminder-btn {
  background-color: #1d1d1d;
  border: solid #1d1d1d 5px;
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.reminder-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid rgb(225, 225, 225) 1px;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.reminders-header-text {
  color: #414141;
}


// calendar styling

.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  // Navbar styling

 .dropdown-menu {
   display: flex;
   flex-direction: column;
   justify-content: right;
   border: solid #E68568 3px;
   border-radius: 5px;
   background-color: rgb(255, 255, 255);
   padding: 10px;
   margin-bottom: 10px;
 }

 .nav-dropdown-btn {
   
 }